<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Report - ProxyReport</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span
                    class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"><svg
                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                        viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd"
                            d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z">
                        </path>
                        <path
                            d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z">
                        </path>
                    </svg></span><span>ProxyReport</span></a>
            <% if (locals.user.accountType !==undefined && (locals.user.accountType==='2' ||
                locals.user.accountType==='3' ) ) { %>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                        class="visually-hidden">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div id="navcol-1" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto" style="margin-right: 5%;">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/adminpanel">Admin Panel</a></li>
                        <li class="nav-item"><a class="nav-link active link-primary" href="/logout">Logout</a></li>
                    </ul>
                </div>
                <% } %>
        </div>
    </nav>
    <header class="bg-dark"></header>
    <section>
        <div class="container py-2">
            <h1 class="text-center">Admin Panel</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-md-12 search-table-col">

                    <form action="/adminPanelSearch" method="POST">
                        <div class="d-flex" style="max-width: 50%;
                                float: right;">
                        <input type="text" name="searchnick" class="form-control" placeholder="Search minecraft nick" />
                        <button class="btn btn-light btn-sm link-primary search-btn" type="submit"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                                        fill="currentColor"></path>
                                </svg>
                            </button>
                        </div>
                        </form>
                <span class="counter pull-right"></span>
                <div class="table table-hover table-bordered results">
                    <table class="table table-hover table-dark table-bordered">
                        <thead class="bill-header cs">
                            <tr>
                                <th id="trs-hd-3" class="col-lg-3">LoginId</th>
                                <th id="trs-hd-4" class="col-lg-2">Minecraft Nick</th>
                                <th id="trs-hd-5" class="col-lg-2">Website Role</th>
                                <th id="trs-hd-1" class="col-lg-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <form name="selectRole" id="selectRole" action="/adminPanelRole" method="POST" />
                                <input type="hidden" name="selectedrole" id="selectedrole">
                                <input type="hidden" name="roleplayeruuid" id="roleplayeruuid">
                            <% if (locals.users !==undefined) { %>
                                <% for(let i=0; i < users.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= locals.users[i].LOGINID %>
                                        </td>
                                        <td>
                                            <%= locals.users[i].MINECRAFTNICK %>
                                        </td>
                                        <td>
                                            <div class="dropend"><button class="btn btn-light btn-sm dropdown-toggle"
                                                    aria-expanded="true" data-bs-toggle="dropdown" type="button">
                                                    <% let role; if (locals.users[i].ACCOUNTTYPE=="1" ){ role="User" }
                                                        else if (locals.users[i].ACCOUNTTYPE=="2" ){ role="Staff" } else
                                                        if (locals.users[i].ACCOUNTTYPE=="3" ){ role="Admin" }%>
                                                        <%= role %>
                                                </button>
                                                
                                                
                                                <div class="dropdown-menu">
                                                    <a onclick="$('#selectedrole').val('User');
                                                    $('#roleplayeruuid').val('<%= locals.users[i].PLAYERUUID %>'); $('#selectRole').submit()"
                                                        class="<%= role == 'User' ? 'dropdown-item disabled' : 'dropdown-item' %>"
                                                        href="#">User</a>
                                                    <a onclick="$('#selectedrole').val('Staff');
                                                    $('#roleplayeruuid').val('<%= locals.users[i].PLAYERUUID %>'); $('#selectRole').submit()"
                                                        class="<%= role == 'Staff' ? 'dropdown-item disabled' : 'dropdown-item' %>"
                                                        href="#">Staff</a>
                                                    <a onclick="$('#selectedrole').val('Admin');
                                                    $('#roleplayeruuid').val('<%= locals.users[i].PLAYERUUID %>'); $('#selectRole').submit()"
                                                        class="<%= role == 'Admin' ? 'dropdown-item disabled' : 'dropdown-item' %>"
                                                        href="#">Admin</a>
                                                </div>
                                            </div>
                                            
                                        </td>
                                        <td>
                                            <img class="avatar noselect" src="http://cravatar.eu/head/<%= locals.users[i].PLAYERUUID %>/48" />
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col"><span class="counter pull-right"></span>
                <div class="table-responsive table table-hover table-bordered results">
                    <table class="table table-striped table-dark table-bordered">
                        <thead class="bill-header cs">
                            <tr></tr>
                        </thead>
                        <tbody>
                            <% if (locals.replies !==undefined) { %>
                                <% for(let i=0; i < replies.length; i++) { %>
                                    <tr>
                                        <th style="width: 35%;">
                                            <%= locals.replies[i].SENDER %>
                                        </th>
                                        <td>
                                            <%= locals.replies[i].MESSAGE %>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>